<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="discount.xml"/>
    <import resource="menu.xml"/>

    <bean id="auditoriumProperty"
          class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location">
            <value>classpath:auditorium.properties, classpath:auditorium2.properties</value>
            <!--<value>classpath:auditorium2.properties</value>-->
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

    <bean id="auditorium" class="bsz.domain.Auditorium" scope="prototype">
        <property name="name" value="${auditorium.name}"/>
        <property name="numberOfSeats" value="#{new Long('${auditorium.numberOfSeats}')}"/>
        <property name="vipSeats" value="#{new java.util.TreeSet('${auditorium.vipSeats}')}"/>
    </bean>

    <bean id="auditorium2" class="bsz.domain.Auditorium" scope="prototype">
        <property name="name" value="${auditorium.name}"/>
        <property name="numberOfSeats" value="#{new Long('${auditorium.numberOfSeats}')}"/>
        <property name="vipSeats" value="#{new java.util.TreeSet('${auditorium.vipSeats}')}"/>
    </bean>

    <bean id="auditoriumDao" class="bsz.dao.AuditoriumDao">
        <constructor-arg name="auditorium" ref="auditorium" />
    </bean>



    <bean id="eventDao" class="bsz.dao.EventDao"/>

    <bean id="userDao" class="bsz.dao.UserDao"/>

    <bean id="userService" class="bsz.service.UserServiceImp">
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="eventService" class="bsz.service.EventServiceImp">
        <constructor-arg ref="eventDao"/>
    </bean>

    <bean id="auditoriumService" class="bsz.service.AuditoriumServiceImp">
        <constructor-arg ref="auditoriumDao"/>
    </bean>

    <bean id="bookingService" class="bsz.service.BookingServiceImp">
        <constructor-arg ref="discountService"/>
        <constructor-arg ref="userService"/>
    </bean>
</beans>