<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="discount.xml"/>
    <import resource="menu.xml"/>
    <!--<context:component-scan base-package="bsz" />-->

    <bean id="properties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:auditorium.properties</value>
            </list>
        </property>
    </bean>

    <bean id="auditorium" class="bsz.domain.Auditorium" scope="prototype">
        <property name="name" value="${a[0].name}"/>
        <property name="numberOfSeatsString" value="${a[0].numberOfSeats}"/>
        <property name="vipSeatsString" value="${a[0].vipSeats}"/>
        <!--<property name="numberOfSeats" value="#{new Long('${a[0].numberOfSeats}')}"/>-->
        <!--<property name="vipSeats" value="#{new TreeSet('${a[0].vipSeats}')}"/>-->
    </bean>

    <bean id="auditoriumDao" class="bsz.dao.AuditoriumDao">
        <constructor-arg name="auditorium" ref="auditorium" />
    </bean>



    <bean id="eventDao" class="bsz.dao.EventDao"/>

    <bean id="userDao" class="bsz.dao.UserDao"/>

    <bean id="userService" class="bsz.service.UserServiceImp">
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="eventService" class="bsz.service.EventServiceImp">
        <constructor-arg ref="eventDao"/>
    </bean>

    <bean id="auditoriumService" class="bsz.service.AuditoriumServiceImp">
        <constructor-arg ref="auditoriumDao"/>
    </bean>

    <bean id="bookingService" class="bsz.service.BookingServiceImp">
        <constructor-arg ref="discountService"/>
        <constructor-arg ref="userService"/>
    </bean>
</beans>